p{
    font-size: 16px;
    font-style: oblique;
    color: rgb(4, 88, 25);
}

#top{
    scroll-margin-top: 300px;
}

.emphasizeText{
    font-style: italic;
    color:rgb(80, 143, 251);
}

body{
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    padding: 10px;
}

.centerList{
    padding-left: 0;
    list-style-position: outside;
    margin: 0 auto;
    display: table;
    text-align: left;
}

.center{
    text-align: center;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; /* spacing between images */
    margin-top: 10px; /* optional spacing from top */
}
  
.image-row img {
    height: 200px; /* or whatever size you like */
    object-fit: cover;
    object-position: center;
}

html {
    scroll-behavior: smooth;
}

.go-top-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(4, 88, 25);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: .75rem;
}

.go-top-button:hover {
    background-color: rgb(73, 2, 73);
}

.video-container {
    position: relative;
    padding-bottom: 40%;
    padding-right: 70%;
    height: 0;
    overflow: hidden;
    max-width: 1px;
    width: 30%;
    margin: 0 auto;

}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

.tableau-container {
    position: relative;
    width: 100%;
    max-width: 340px;
    /* padding-bottom: 20%; */
    margin: 0 auto;
    /* height: 0; */
    margin-bottom: 1rem;
  
    aspect-ratio: 4 / 3;
}

.tableau-container iframe {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}


